* {
  margin: 0;
}

body {
  background-image: url("./assets/window-books.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a:hover {
  background-color: yellow;
}

header {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

main {
}

ul {
  display: grid;
  grid-template-columns: 2fr;
  justify-content: center;
  align-content: center;
  gap: 15px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
  margin-top: auto;
}
